:root {
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

main {
  background-color: black;
  height: 70rem;
  display: flex;
}

.contenedor {
  background-color: #161a24;
  height: 35rem;
  width: 40rem;
  border-radius: 2rem;
  margin-left: 40rem;
  margin-top: 5rem;
}
h3 {
  color: #77f8d9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  letter-spacing: 3px;
}
input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
}

/** UTILIDADES **/

/** CONTENEDORES **/

.superior {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}

.inferior {
  background-color: #232938;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.numeros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operadores-izq {
  display: grid;
  grid-template-columns: 1fr;
}

.operadores-der {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}

/** BOTONES **/

.boton {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  margin: 1rem;
  color: #8a97bb;
}

.boton:hover {
  cursor: pointer;
}

.boton__secundario {
  background-color: #333b4d;
}

.boton__igual {
  background-color: #71f4d7;
  border-radius: 0%;
  color: #374057;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.boton__borrar {
  background-color: #cd2c58;
  color: white;
}

.campo__elemento {
  font-size: 5rem;
  font-weight: 400;
}
